*{
  padding: 0;
  margin: 0;
}

:root {
  --pri-white: #fffaf3;

  --sec-white: #ffebce;
  --hvr-sec-white: #ffddae;

  
  --pri-black: #141414;
  --hvr-pri-back: #404040;
}


html{ 
  padding: 0;
  margin: 0;
  background-color: var(--pri-white);
}